name: "chromatic"

on: pull_request

jobs:
  chromatic:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Install deps
        run: pnpm install
      - name: Show Current Date and Event
        run: |
          echo "Поточна дата: $(date)"
          echo "Подія, що викликала запуск: ${{ github.event_name }}"
          echo "Гілка (ref): ${{ github.ref }}"
          echo "SHA коміту: ${{ github.sha }}"
          echo "Chromatic recomendation коміту: ${{ github.event.pull_request.head.sha }}"
          echo "Інформація про репозиторій: ${{ github.repository }}"
          echo "Інформація про відправника: ${{ github.actor }}"
          echo "Повний контекст події: ${{ toJson(github) }}"
      - name: Publish broadcaster_portal to Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_BP_TOKEN }}
          workingDir: apps/broadcaster-portal
          onlyChanged: true
      - name: Publish aim_portal to Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_AIM_TOKEN }}
          workingDir: apps/aim
          onlyChanged: true

