name: "Test Triggers"

on:
  pull_request:
  push:
    branches:
      - 'main'
      - 'test-triggers'

jobs:
  display-info:
    runs-on: ubuntu-latest
    steps:
      - name: Show Current Date and Event
        run: |
          echo "Поточна дата: $(date)"
          echo "Подія, що викликала запуск: ${{ github.event_name }}"
          echo "Гілка (ref): ${{ github.ref }}"
          echo "SHA коміту: ${{ github.sha }}"
          echo "Chromatic recomendation коміту: ${{ pull_request.head.sha }}"
          echo "Інформація про репозиторій: ${{ github.repository }}"
          echo "Інформація про відправника: ${{ github.actor }}"
          echo "Повний контекст події: ${{ toJson(github) }}"